@model MSAPP.Models.Employee

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Insert Employee</h1>
@using MSAPP.Models


<form asp-controller="Home"    asp-action="Insert"  method="post">
    <table border="1" cellpadding="10">

        <tr>
            <td> Name :</td>
            <td><input name="Name" />@Html.ValidationMessageFor(model => Model.Name, "", new { @class = "error" })</td>

        </tr>
        <tr>
            <td>Email :</td>
            <td><input name="Email" /></td>
        </tr>
        <tr>
            <td>Department :</td>
            <td>
                <select name="Department">
                    @for (int i = 0; i < Enum.GetNames(typeof(Dept)).Length; i++)
                    {
                    <option value=@Dept.GetName(typeof(Dept), i)>@Dept.GetName(typeof(Dept), i)</option>
                    }
                </select>
            </td>
        </tr>

        <tr>

            <td>Upload your photo :</td>
            <td>
                <input type="file" name="EMPPhoto" />
            </td>

        </tr>


        <tr>
            <td colspan="2">
                <button type="submit">submit</button>
            </td>
        </tr>
    </table>
</form>
